/* Styles for spoken text */
.speech {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
}

/* Styles for non-spoken directions */
.direction {
    font-family: Times New Roman, serif;
    font-size: 14px;
    color: black;
    background-color: lightyellow;
    transition: background-color 0.3s, color 0.3s;
}

/* Hover effect for directions */
.direction:hover {
    background-color: lightblue;
    color: white;
}

/* Styles for character names */
.CHUBUKOV {
    color: blue;
}

.LOMOV {
    color: purple;
}

/* Hover effect for character names */
.CHUBUKOV:hover {
    color: blue;
    text-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
    border: 2px solid rgba(0, 0, 255, 0.5);
    transition: text-shadow 0.3s, border 0.3s;
}

.LOMOV:hover {
    color: purple;
    text-shadow: 0 0 10px rgba(128, 0, 128, 0.8);
    border: 2px solid rgba(128, 0, 128, 0.5);
    transition: text-shadow 0.3s, border 0.3s;
}

/* Styles for the casting table */
.casting-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.casting-table th,
.casting-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.casting-table th {
    background-color: #f2f2f2;
}

.casting-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.bottom-navbar {
    background-color: #424141;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

.nav-item {
    text-decoration: none;
    color: #eee8e8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item img {
    width: 40px;
    height: 40px;
}

.nav-item span {
    font-size: 13px;
    margin-top: 4px;
}

body {
    padding-bottom: 60px;
    /* Adjust this value to match the height of your navbar */
}